flows 2.json
[{"id":"145b32c5.10b58d","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"56325169.d0efd","type":"mqtt in","z":"145b32c5.10b58d","name":"","topic":"mcs/D02AQ710/814TEt4R9Gf2GlMY/+","qos":"2","datatype":"auto","broker":"cce6d007.be703","x":300,"y":300,"wires":[["be519b90.826328"]]},{"id":"be519b90.826328","type":"csv","z":"145b32c5.10b58d","name":"","sep":",","hdrin":"","hdrout":"","multi":"one","ret":"\\n","temp":",,Data","skip":"0","x":300,"y":480,"wires":[["c43f7ee6.77526"]]},{"id":"c43f7ee6.77526","type":"change","z":"145b32c5.10b58d","name":"GetData","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.Data","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":600,"wires":[["23ca5829.ffb878"]]},{"id":"23ca5829.ffb878","type":"ui_gauge","z":"145b32c5.10b58d","name":"","group":"c9388b22.eebd68","order":0,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":520,"y":620,"wires":[]},{"id":"cce6d007.be703","type":"mqtt-broker","z":"","name":"MCS Cloud","broker":"mqtt.mcs.mediatek.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"c9388b22.eebd68","type":"ui_group","z":"","name":"Status","tab":"f6978ac.9ff6678","order":1,"disp":true,"width":"6","collapse":false},{"id":"f6978ac.9ff6678","type":"ui_tab","name":"Tab 1","icon":"dashboard","order":1}]