flows 1.json
[{"id":"522da326.7fa0bc","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"b5944cc3.26499","type":"inject","z":"522da326.7fa0bc","name":"","topic":"","payload":",,25.5","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":160,"wires":[["6ef79622.a72568"]]},{"id":"dc456c2c.9343e","type":"inject","z":"522da326.7fa0bc","name":"","topic":"","payload":",,20.9","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":380,"wires":[["6ef79622.a72568"]]},{"id":"6ef79622.a72568","type":"mqtt out","z":"522da326.7fa0bc","name":"","topic":"mcs/D02AQ710/814TEt4R9Gf2GlMY/Temperature","qos":"2","retain":"","broker":"cce6d007.be703","x":510,"y":280,"wires":[]},{"id":"cce6d007.be703","type":"mqtt-broker","z":"","name":"MCS Cloud","broker":"mqtt.mcs.mediatek.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]